:root{
  --clr-primary-1: #1d1d1d; 
  --clr-primary-2: rgba(6,147,227,1); 
  --clr-primary-3: rgb(155,81,224); 
  --clr-primary-4: #F39200; 
  --clr-primary-5: #EBEBEB; 
  --clr-primary-6: #ccc; 
  --clr-primary-7: #E8E7D5; 
  
  --max-width: 1170px;
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%; 
}

body{
  font-family: 'Montserrat', serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  color: aliceblue;
  background-color: var(--clr-primary-1); 
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  max-width: var(--max-width);
  margin: 0 auto;
}

section{
  width: 90vw;   
}

/* buttons */
.btn{
  padding: 1rem 2.5rem; 
  font-size: 1.6rem;
  text-transform: capitalize;
  color: var(--clr-primary-4);
  background-color: transparent;
  border: 1px solid var(--clr-primary-4);
  cursor: pointer;
  transition: all 0.2s linear;
}

.btn:hover{
  background-color: var(--clr-primary-4);
  color: var(--clr-primary-1);
  transform: translateY(-0.3rem);
}

.btn:active{
  transform: translateY(-0.1rem);
}

.icon-btn{
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  font-size: 3rem;
  background: transparent;
  border: none;
}

/* Animations */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translate(0.5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveFromBottom {
  0%{
    opacity: 0;
    transform: translateY(-10rem);
  }
  80%{
    transform: translateY(0.5rem);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotate {
  0%{
    transform: rotate(360deg);
  }
  
  100%{
    transform: rotate(0deg);
  }
}
